In [58]:
import pandas as pd
import numpy as np
import sklearn
import json

In [122]:
commodities = pd.read_json('./datasets/import_commodities_by_air.json')

In [123]:
commodities

,S.No,Commodity Group,Name of the Country,Value (Rs in Cr.)
0,1,Natural or Cultural pearl precious or semi pre...,Switzerland,4390
1,2,Natural or Cultural pearl precious or semi pre...,Australia,2251
2,3,Natural or Cultural pearl precious or semi pre...,South Africa,1105
3,4,Natural or Cultural pearl precious or semi pre...,UAE,1086
4,5,Natural or Cultural pearl precious or semi pre...,US,216
5,6,Natural or Cultural pearl precious or semi pre...,UK,190
6,7,Natural or Cultural pearl precious or semi pre...,Saudi Arabia,98
7,8,Natural or Cultural pearl precious or semi pre...,Korea,91
8,9,Natural or Cultural pearl precious or semi pre...,Hong Kong,80
9,10,Natural or Cultural pearl precious or semi pre...,Turkey,40
10,11,Natural or Cultural pearl precious or semi pre...,Belgium,35
11,12,Natural or Cultural pearl precious or semi pre...,Germany,33
12,13,Natural or Cultural pearl precious or semi pre...,Thailand,17
13,14,Natural or Cultural pearl precious or semi pre...,Singapore,13
14,15,Natural or Cultural pearl precious or semi pre...,Other Countries,9
15,Total,Total Natural or Cultural pearl precious or se...,Total,9654
16,16,"Electrical Machinery,.Equipment,and parts ther...",China,3201
17,17,"Electrical Machinery,.Equipment,and parts ther...",Hong Kong,811
18,18,"Electrical Machinery,.Equipment,and parts ther...",US,771
19,19,"Electrical Machinery,.Equipment,and parts ther...",Singapore,769
20,20,"Electrical Machinery,.Equipment,and parts ther...",Finland,572
21,21,"Electrical Machinery,.Equipment,and parts ther...",Sweden,368
22,22,"Electrical Machinery,.Equipment,and parts ther...",Malaysia,290
23,23,"Electrical Machinery,.Equipment,and parts ther...",Germany,288
24,24,"Electrical Machinery,.Equipment,and parts ther...",Israel,203
25,25,"Electrical Machinery,.Equipment,and parts ther...",Japan,164
26,26,"Electrical Machinery,.Equipment,and parts ther...",Korea,160
27,27,"Electrical Machinery,.Equipment,and parts ther...",UK,148
28,28,"Electrical Machinery,.Equipment,and parts ther...",France,141
29,29,"Electrical Machinery,.Equipment,and parts ther...",Mexico,121
...,...,...,...,...
48,47,Organic Chemicals,Hong Kong,25
49,48,Organic Chemicals,Taiwan,23
50,49,Organic Chemicals,Switzerland,22
51,50,Organic Chemicals,Germany,20
52,51,Organic Chemicals,US,18
53,52,Organic Chemicals,Spain,17
54,53,Organic Chemicals,Egypt,16
55,54,Organic Chemicals,Other Countries,64
56,Total,Total Organic Chemicals,Total,805
57,55,Pharmaceutical products,Switzerland,634
58,56,Pharmaceutical products,Belgium,45
59,57,Pharmaceutical products,US,37
60,58,Pharmaceutical products,UK,28
61,59,Pharmaceutical products,China,10
62,60,Pharmaceutical products,Other Countries,44
63,Total,Total Pharmaceutical products,Total,798
64,61,"Printed books,Newspapers and Journals",Singapore,700
65,62,"Printed books,Newspapers and Journals",US,27
66,63,"Printed books,Newspapers and Journals",UK,13
67,64,"Printed books,Newspapers and Journals",UAE,11
68,65,"Printed books,Newspapers and Journals",Other Countries,34
69,Total,"Total Printed books,Newspapers and Journals",Total,785
70,66,"Raw hides,skins and leather",Italy,139
71,67,"Raw hides,skins and leather",Germany,20
72,68,"Raw hides,skins and leather",Indonesia,19
73,69,"Raw hides,skins and leather",UK,14
74,70,"Raw hides,skins and leather",Austria,10
75,71,"Raw hides,skins and leather",Netherland,9
76,72,"Raw hides,skins and leather",Other Countries,76
77,Total,"Total Raw hides,skins and leather",Total,287

In [124]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(commodities)

     S.No                                    Commodity Group  \
0       1  Natural or Cultural pearl precious or semi pre...
1       2  Natural or Cultural pearl precious or semi pre...
2       3  Natural or Cultural pearl precious or semi pre...
3       4  Natural or Cultural pearl precious or semi pre...
4       5  Natural or Cultural pearl precious or semi pre...
5       6  Natural or Cultural pearl precious or semi pre...
6       7  Natural or Cultural pearl precious or semi pre...
7       8  Natural or Cultural pearl precious or semi pre...
8       9  Natural or Cultural pearl precious or semi pre...
9      10  Natural or Cultural pearl precious or semi pre...
10     11  Natural or Cultural pearl precious or semi pre...
11     12  Natural or Cultural pearl precious or semi pre...
12     13  Natural or Cultural pearl precious or semi pre...
13     14  Natural or Cultural pearl precious or semi pre...
14     15  Natural or Cultural pearl precious or semi pre...
15  Total  Total Natural or Cultural pearl precious or se...
16     16  Electrical Machinery,.Equipment,and parts ther...
17     17  Electrical Machinery,.Equipment,and parts ther...
18     18  Electrical Machinery,.Equipment,and parts ther...
19     19  Electrical Machinery,.Equipment,and parts ther...
20     20  Electrical Machinery,.Equipment,and parts ther...
21     21  Electrical Machinery,.Equipment,and parts ther...
22     22  Electrical Machinery,.Equipment,and parts ther...
23     23  Electrical Machinery,.Equipment,and parts ther...
24     24  Electrical Machinery,.Equipment,and parts ther...
25     25  Electrical Machinery,.Equipment,and parts ther...
26     26  Electrical Machinery,.Equipment,and parts ther...
27     27  Electrical Machinery,.Equipment,and parts ther...
28     28  Electrical Machinery,.Equipment,and parts ther...
29     29  Electrical Machinery,.Equipment,and parts ther...
30     30  Electrical Machinery,.Equipment,and parts ther...
31     31  Electrical Machinery,.Equipment,and parts ther...
32     32  Electrical Machinery,.Equipment,and parts ther...
33     33  Electrical Machinery,.Equipment,and parts ther...
34     34  Electrical Machinery,.Equipment,and parts ther...
35     35  Electrical Machinery,.Equipment,and parts ther...
36     36  Electrical Machinery,.Equipment,and parts ther...
37     37  Electrical Machinery,.Equipment,and parts ther...
38     38  Electrical Machinery,.Equipment,and parts ther...
39     39  Electrical Machinery,.Equipment,and parts ther...
40     40  Electrical Machinery,.Equipment,and parts ther...
41     41  Electrical Machinery,.Equipment,and parts ther...
42  Total  Total Electrical Machinery,.Equipment,and part...
43     42                                  Organic Chemicals
44     43                                  Organic Chemicals
45     44                                  Organic Chemicals
46     45                                  Organic Chemicals
47     46                                  Organic Chemicals
48     47                                  Organic Chemicals
49     48                                  Organic Chemicals
50     49                                  Organic Chemicals
51     50                                  Organic Chemicals
52     51                                  Organic Chemicals
53     52                                  Organic Chemicals
54     53                                  Organic Chemicals
55     54                                  Organic Chemicals
56  Total                            Total Organic Chemicals
57     55                            Pharmaceutical products
58     56                            Pharmaceutical products
59     57                            Pharmaceutical products
60     58                            Pharmaceutical products
61     59                            Pharmaceutical products
62     60                            Pharmaceutical products
63  Total                      Total Pharmaceutical products
64     61              Printed books,Newspapers and Journals
65     62              Printed books,Newspapers and Journals
66     63              Printed books,Newspapers and Journals
67     64              Printed books,Newspapers and Journals
68     65              Printed books,Newspapers and Journals
69  Total        Total Printed books,Newspapers and Journals
70     66                        Raw hides,skins and leather
71     67                        Raw hides,skins and leather
72     68                        Raw hides,skins and leather
73     69                        Raw hides,skins and leather
74     70                        Raw hides,skins and leather
75     71                        Raw hides,skins and leather
76     72                        Raw hides,skins and leather
77  Total                  Total Raw hides,skins and leather

   Name of the Country  Value (Rs in Cr.)
0          Switzerland               4390
1            Australia               2251
2        South Africa                1105
3                  UAE               1086
4                   US                216
5                   UK                190
6         Saudi Arabia                 98
7                Korea                 91
8            Hong Kong                 80
9               Turkey                 40
10             Belgium                 35
11             Germany                 33
12            Thailand                 17
13           Singapore                 13
14     Other Countries                  9
15               Total               9654
16               China               3201
17           Hong Kong                811
18                  US                771
19           Singapore                769
20             Finland                572
21              Sweden                368
22            Malaysia                290
23             Germany                288
24              Israel                203
25               Japan                164
26               Korea                160
27                  UK                148
28              France                141
29              Mexico                121
30          Netherland                 98
31              Taiwan                 80
32               Italy                 47
33             Denmark                 44
34                 UAE                 35
35              Russia                 34
36         Switzerland                 25
37            Thailand                 24
38              Canada                 23
39             Belgium                 15
40               Spain                 10
41     Other Countries                226
42               Total               8668
43               China                402
44             Austria                 71
45               Italy                 64
46                  UK                 32
47               Japan                 31
48           Hong Kong                 25
49              Taiwan                 23
50         Switzerland                 22
51             Germany                 20
52                  US                 18
53               Spain                 17
54               Egypt                 16
55     Other Countries                 64
56               Total                805
57         Switzerland                634
58             Belgium                 45
59                  US                 37
60                  UK                 28
61               China                 10
62     Other Countries                 44
63               Total                798
64           Singapore                700
65                  US                 27
66                  UK                 13
67                 UAE                 11
68     Other Countries                 34
69               Total                785
70               Italy                139
71             Germany                 20
72           Indonesia                 19
73                  UK                 14
74             Austria                 10
75          Netherland                  9
76     Other Countries                 76
77               Total                287

In [125]:
commodities = commodities[commodities['S.No'] != 'Total']

In [126]:
commodities = commodities[commodities['Commodity Group'] != False]

In [127]:
commodities

,S.No,Commodity Group,Name of the Country,Value (Rs in Cr.)
0,1,Natural or Cultural pearl precious or semi pre...,Switzerland,4390
1,2,Natural or Cultural pearl precious or semi pre...,Australia,2251
2,3,Natural or Cultural pearl precious or semi pre...,South Africa,1105
3,4,Natural or Cultural pearl precious or semi pre...,UAE,1086
4,5,Natural or Cultural pearl precious or semi pre...,US,216
5,6,Natural or Cultural pearl precious or semi pre...,UK,190
6,7,Natural or Cultural pearl precious or semi pre...,Saudi Arabia,98
7,8,Natural or Cultural pearl precious or semi pre...,Korea,91
8,9,Natural or Cultural pearl precious or semi pre...,Hong Kong,80
9,10,Natural or Cultural pearl precious or semi pre...,Turkey,40
10,11,Natural or Cultural pearl precious or semi pre...,Belgium,35
11,12,Natural or Cultural pearl precious or semi pre...,Germany,33
12,13,Natural or Cultural pearl precious or semi pre...,Thailand,17
13,14,Natural or Cultural pearl precious or semi pre...,Singapore,13
14,15,Natural or Cultural pearl precious or semi pre...,Other Countries,9
16,16,"Electrical Machinery,.Equipment,and parts ther...",China,3201
17,17,"Electrical Machinery,.Equipment,and parts ther...",Hong Kong,811
18,18,"Electrical Machinery,.Equipment,and parts ther...",US,771
19,19,"Electrical Machinery,.Equipment,and parts ther...",Singapore,769
20,20,"Electrical Machinery,.Equipment,and parts ther...",Finland,572
21,21,"Electrical Machinery,.Equipment,and parts ther...",Sweden,368
22,22,"Electrical Machinery,.Equipment,and parts ther...",Malaysia,290
23,23,"Electrical Machinery,.Equipment,and parts ther...",Germany,288
24,24,"Electrical Machinery,.Equipment,and parts ther...",Israel,203
25,25,"Electrical Machinery,.Equipment,and parts ther...",Japan,164
26,26,"Electrical Machinery,.Equipment,and parts ther...",Korea,160
27,27,"Electrical Machinery,.Equipment,and parts ther...",UK,148
28,28,"Electrical Machinery,.Equipment,and parts ther...",France,141
29,29,"Electrical Machinery,.Equipment,and parts ther...",Mexico,121
30,30,"Electrical Machinery,.Equipment,and parts ther...",Netherland,98
...,...,...,...,...
44,43,Organic Chemicals,Austria,71
45,44,Organic Chemicals,Italy,64
46,45,Organic Chemicals,UK,32
47,46,Organic Chemicals,Japan,31
48,47,Organic Chemicals,Hong Kong,25
49,48,Organic Chemicals,Taiwan,23
50,49,Organic Chemicals,Switzerland,22
51,50,Organic Chemicals,Germany,20
52,51,Organic Chemicals,US,18
53,52,Organic Chemicals,Spain,17
54,53,Organic Chemicals,Egypt,16
55,54,Organic Chemicals,Other Countries,64
57,55,Pharmaceutical products,Switzerland,634
58,56,Pharmaceutical products,Belgium,45
59,57,Pharmaceutical products,US,37
60,58,Pharmaceutical products,UK,28
61,59,Pharmaceutical products,China,10
62,60,Pharmaceutical products,Other Countries,44
64,61,"Printed books,Newspapers and Journals",Singapore,700
65,62,"Printed books,Newspapers and Journals",US,27
66,63,"Printed books,Newspapers and Journals",UK,13
67,64,"Printed books,Newspapers and Journals",UAE,11
68,65,"Printed books,Newspapers and Journals",Other Countries,34
70,66,"Raw hides,skins and leather",Italy,139
71,67,"Raw hides,skins and leather",Germany,20
72,68,"Raw hides,skins and leather",Indonesia,19
73,69,"Raw hides,skins and leather",UK,14
74,70,"Raw hides,skins and leather",Austria,10
75,71,"Raw hides,skins and leather",Netherland,9
76,72,"Raw hides,skins and leather",Other Countries,76

In [128]:
pivot_table = commodities.pivot(index='Name of the Country', columns='Commodity Group', values='Value (Rs in Cr.)')

In [129]:
pivot_table.fillna(0, inplace=True)

usa, korea, usa, other countries, hongkong

In [130]:
pivot_table

Commodity Group,"Electrical Machinery,.Equipment,and parts there of sound recorders and reproduces TV image",Natural or Cultural pearl precious or semi precious stones metals and precious metal and articles there.,Organic Chemicals,Pharmaceutical products,"Printed books,Newspapers and Journals","Raw hides,skins and leather"
Name of the Country,,,,,,
Australia,0.0,2251.0,0.0,0.0,0.0,0.0
Austria,0.0,0.0,71.0,0.0,0.0,10.0
Belgium,15.0,35.0,0.0,45.0,0.0,0.0
Canada,23.0,0.0,0.0,0.0,0.0,0.0
China,3201.0,0.0,402.0,10.0,0.0,0.0
Denmark,44.0,0.0,0.0,0.0,0.0,0.0
Egypt,0.0,0.0,16.0,0.0,0.0,0.0
Finland,572.0,0.0,0.0,0.0,0.0,0.0
France,141.0,0.0,0.0,0.0,0.0,0.0
Germany,288.0,33.0,20.0,0.0,0.0,20.0
Hong Kong,811.0,80.0,25.0,0.0,0.0,0.0
Indonesia,0.0,0.0,0.0,0.0,0.0,19.0
Israel,203.0,0.0,0.0,0.0,0.0,0.0
Italy,47.0,0.0,64.0,0.0,0.0,139.0
Japan,164.0,0.0,31.0,0.0,0.0,0.0
Korea,160.0,91.0,0.0,0.0,0.0,0.0
Malaysia,290.0,0.0,0.0,0.0,0.0,0.0
Mexico,121.0,0.0,0.0,0.0,0.0,0.0
Netherland,98.0,0.0,0.0,0.0,0.0,9.0
Other Countries,226.0,9.0,64.0,44.0,34.0,76.0
Russia,34.0,0.0,0.0,0.0,0.0,0.0
Saudi Arabia,0.0,98.0,0.0,0.0,0.0,0.0
Singapore,769.0,13.0,0.0,0.0,700.0,0.0
South Africa,0.0,1105.0,0.0,0.0,0.0,0.0
Spain,10.0,0.0,17.0,0.0,0.0,0.0
Sweden,368.0,0.0,0.0,0.0,0.0,0.0
Switzerland,25.0,4390.0,22.0,634.0,0.0,0.0
Taiwan,80.0,0.0,23.0,0.0,0.0,0.0
Thailand,24.0,17.0,0.0,0.0,0.0,0.0
Turkey,0.0,40.0,0.0,0.0,0.0,0.0
UAE,35.0,1086.0,0.0,0.0,11.0,0.0
UK,148.0,190.0,32.0,28.0,13.0,14.0
US,771.0,216.0,18.0,37.0,27.0,0.0

In [121]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(pivot_table)

Commodity Group      Electrical Machinery,.Equipment,and parts there of sound recorders and reproduces TV image  \
Name of the Country
Australia                                                          0.0
Austria                                                            0.0
Belgium                                                           15.0
Canada                                                            23.0
China                                                           3201.0
Denmark                                                           44.0
Egypt                                                              0.0
Finland                                                          572.0
France                                                           141.0
Germany                                                          288.0
Hong Kong                                                        811.0
Indonesia                                                          0.0
Israel                                                           203.0
Italy                                                             47.0
Japan                                                            164.0
Korea                                                            160.0
Malaysia                                                         290.0
Mexico                                                           121.0
Netherland                                                        98.0
Other Countries                                                  226.0
Other countries                                                    0.0
Russia                                                            34.0
Saudi Arabia                                                       0.0
Singapore                                                        769.0
South Africa                                                       0.0
Spain                                                             10.0
Sweden                                                           368.0
Switzerland                                                       25.0
Switzerland                                                        0.0
Taiwan                                                            80.0
Thailand                                                          24.0
The U.A.E.                                                         0.0
The U.K.                                                           0.0
The U.S.                                                           0.0
The U.S.A.                                                         0.0
The United Kingdom                                                 0.0
The United States                                                  0.0
Turkey                                                             0.0
U.K.                                                             148.0
U.S.A.                                                           771.0
UAE                                                               35.0
United Kingdom                                                     0.0

Commodity Group      Natural or Cultural pearl precious or semi precious stones metals and precious metal and articles there.  \
Name of the Country
Australia                                                       2251.0
Austria                                                            0.0
Belgium                                                           35.0
Canada                                                             0.0
China                                                              0.0
Denmark                                                            0.0
Egypt                                                              0.0
Finland                                                            0.0
France                                                             0.0
Germany                                                           33.0
Hong Kong                                                         80.0
Indonesia                                                          0.0
Israel                                                             0.0
Italy                                                              0.0
Japan                                                              0.0
Korea                                                             91.0
Malaysia                                                           0.0
Mexico                                                             0.0
Netherland                                                         0.0
Other Countries                                                    9.0
Other countries                                                    0.0
Russia                                                             0.0
Saudi Arabia                                                      98.0
Singapore                                                         13.0
South Africa                                                    1105.0
Spain                                                              0.0
Sweden                                                             0.0
Switzerland                                                        0.0
Switzerland                                                     4390.0
Taiwan                                                             0.0
Thailand                                                          17.0
The U.A.E.                                                      1086.0
The U.K.                                                           0.0
The U.S.                                                           0.0
The U.S.A.                                                       216.0
The United Kingdom                                               190.0
The United States                                                  0.0
Turkey                                                            40.0
U.K.                                                               0.0
U.S.A.                                                             0.0
UAE                                                                0.0
United Kingdom                                                     0.0

Commodity Group      Organic Chemicals  Pharmaceutical products  \
Name of the Country
Australia                          0.0                      0.0
Austria                           71.0                      0.0
Belgium                            0.0                     45.0
Canada                             0.0                      0.0
China                            402.0                     10.0
Denmark                            0.0                      0.0
Egypt                             16.0                      0.0
Finland                            0.0                      0.0
France                             0.0                      0.0
Germany                           20.0                      0.0
Hong Kong                         25.0                      0.0
Indonesia                          0.0                      0.0
Israel                             0.0                      0.0
Italy                             64.0                      0.0
Japan                             31.0                      0.0
Korea                              0.0                      0.0
Malaysia                           0.0                      0.0
Mexico                             0.0                      0.0
Netherland                         0.0                      0.0
Other Countries                   64.0                      0.0
Other countries                    0.0                     44.0
Russia                             0.0                      0.0
Saudi Arabia                       0.0                      0.0
Singapore                          0.0                      0.0
South Africa                       0.0                      0.0
Spain                             17.0                      0.0
Sweden                             0.0                      0.0
Switzerland                       22.0                    634.0
Switzerland                        0.0                      0.0
Taiwan                            23.0                      0.0
Thailand                           0.0                      0.0
The U.A.E.                         0.0                      0.0
The U.K.                           0.0                      0.0
The U.S.                           0.0                      0.0
The U.S.A.                         0.0                      0.0
The United Kingdom                 0.0                     28.0
The United States                  0.0                     37.0
Turkey                             0.0                      0.0
U.K.                              32.0                      0.0
U.S.A.                            18.0                      0.0
UAE                                0.0                      0.0
United Kingdom                     0.0                      0.0

Commodity Group      Printed books,Newspapers and Journals  \
Name of the Country
Australia                                              0.0
Austria                                                0.0
Belgium                                                0.0
Canada                                                 0.0
China                                                  0.0
Denmark                                                0.0
Egypt                                                  0.0
Finland                                                0.0
France                                                 0.0
Germany                                                0.0
Hong Kong                                              0.0
Indonesia                                              0.0
Israel                                                 0.0
Italy                                                  0.0
Japan                                                  0.0
Korea                                                  0.0
Malaysia                                               0.0
Mexico                                                 0.0
Netherland                                             0.0
Other Countries                                        0.0
Other countries                                       34.0
Russia                                                 0.0
Saudi Arabia                                           0.0
Singapore                                            700.0
South Africa                                           0.0
Spain                                                  0.0
Sweden                                                 0.0
Switzerland                                            0.0
Switzerland                                            0.0
Taiwan                                                 0.0
Thailand                                               0.0
The U.A.E.                                            11.0
The U.K.                                              13.0
The U.S.                                              27.0
The U.S.A.                                             0.0
The United Kingdom                                     0.0
The United States                                      0.0
Turkey                                                 0.0
U.K.                                                   0.0
U.S.A.                                                 0.0
UAE                                                    0.0
United Kingdom                                         0.0

Commodity Group      Raw hides,skins and leather
Name of the Country
Australia                                    0.0
Austria                                     10.0
Belgium                                      0.0
Canada                                       0.0
China                                        0.0
Denmark                                      0.0
Egypt                                        0.0
Finland                                      0.0
France                                       0.0
Germany                                     20.0
Hong Kong                                    0.0
Indonesia                                   19.0
Israel                                       0.0
Italy                                      139.0
Japan                                        0.0
Korea                                        0.0
Malaysia                                     0.0
Mexico                                       0.0
Netherland                                   9.0
Other Countries                             76.0
Other countries                              0.0
Russia                                       0.0
Saudi Arabia                                 0.0
Singapore                                    0.0
South Africa                                 0.0
Spain                                        0.0
Sweden                                       0.0
Switzerland                                  0.0
Switzerland                                  0.0
Taiwan                                       0.0
Thailand                                     0.0
The U.A.E.                                   0.0
The U.K.                                     0.0
The U.S.                                     0.0
The U.S.A.                                   0.0
The United Kingdom                           0.0
The United States                            0.0
Turkey                                       0.0
U.K.                                         0.0
U.S.A.                                       0.0
UAE                                          0.0
United Kingdom                              14.0